<div id="faq" data-ng-controller="FaqCtrl">
  <h3>FAQ's</h3>

  <ul>
    <li data-ng-repeat="faqItem in faqItems | orderBy: order ">
      <a href="#" data-ng-click="showItem($index, $event)"
          data-ng-bind-html-unsafe="faqItem.attributes.title"
          data-ng-class="{selected: faqItem.attributes.title == faqItems[activeItem].attributes.title}"></a>
    </li>
  </ul>

  <div class="popover right">
    <div class="arrow" style="margin-top:{{activeItem * 35 - 145}}px"></div>
    <div class="popover-content" data-ng-bind-html-unsafe="faqItems[activeItem].html">
    </div>
  </div>
  <div class="clearfix"></div>
</div>