<h2>15% of this order can be donated to your school!</h2>
<p>
  MightyNest is supporting Pre/K and Elementary schools by donating 15% to participating schools. Pick your school below or
  <a href="/fundraiser/index.html">learn more...</a>
</p>

<form id="find-your-school">
  <fieldset>
    <label for="target">Find your school by zipcode:</label>
    <input id="target" type="text">
    <div id="school-select" style="display: none;">
      <label for="school" style="">School: </label>
      <input id="school" style="">
    </div>
    <input disabled="disabled" id="school-affiliate2-uid" style="display: none;">
    <input type="submit" id="school-submit" value="Go" style="display: none;">
  </fieldset>
</form>
