<div id="your-school-info" class="clearfix" style="">
  <div class="school-content clearfix">
    <p><span class="donate-amount">$0.00</span> of this order will be donated to:</p>
    <div class="school-name" style="text-align:center">
      <p>Washington Elementary School</p>
      <!--<img src="/sites/schools.mightynest.com/files/imagefield_default_images/school-default-cropped.jpg" />-->
      <a title="remove school selection" href="/fundraiser/washington" id="remove_select_school" class="school-fundraiser-link">[x]</a>
    </div>
    <div class="school-footer">
      <p><span class="prefix">98</span> families participating</p>
      <p><span class="prefix">$1874.00</span> already raised</p>
      <p><a href="/fundraiser/washington" class="school-fundraiser-link" target="_blank">visit fundraiser page...</a></p>
    </div>
  </div>
</div>
